@model WWA_SHEET4.Models.Sandwich
@{
    ViewBag.Title = "Index";
}


<h2>Welcome to StarSubs</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="order-form-lists">
        <div class="order-form-list">
            <h3>Select a Sandwich</h3>
            @Html.ListBoxFor(m => m.subName_, new SelectList(Enum.GetValues(typeof(WWA_SHEET4.Models.subName))))
        </div>
        <br />
        <div class="order-form-list">
        <h3>Select a Size</h3>
            @Html.ListBoxFor(m => m.sizeName_, new SelectList(Enum.GetValues(typeof(WWA_SHEET4.Models.sizeName))))
        </div>
    </div>

    <h3>Quantity</h3>
        @Html.TextBoxFor(n => n.quantity, new { @class = "textbox", type = "number" });


    <div class="order-form-button-group">
        <h3>Select a Meal Deal</h3>
        <div class="order-form-radiobuttons">
            @Html.RadioButtonFor(m => m.mealDealName_, WWA_SHEET4.Models.mealDealName.None) @("None") <br />
            @Html.RadioButtonFor(m => m.mealDealName_, WWA_SHEET4.Models.mealDealName.DrinksAndChips) @("Drink and Chips") <br />
            @Html.RadioButtonFor(m => m.mealDealName_, WWA_SHEET4.Models.mealDealName.DrinksandCookies) @("Drink and Cookies")
        </div>
    </div>
   <input  type="submit" value="Place Order" class="order-form-submit"/>
}
    @using (Html.BeginForm("DailyTotal", "Home", FormMethod.Get))
    {
        <input type="submit" value="Go to Report Page" />
    }
