

@{
    ViewBag.Title = "Receipt";
}

<h2>StarSubs Receipt</h2>
<h3>Today's Date : Monday, September 30th, 2019</h3>
    <ul>
        <li>Type of Sub : @ViewBag.Sub</li>
        <li>Size of Sub : @ViewBag.Size</li>
        <li>Type of Meal Deal : @ViewBag.Deal</li>
        <li>Total Price of Sub : $ @ViewBag.PriceSub</li>
        <li>Price of Meal Deal : $ @ViewBag.PriceDeal</li>
        <li></li>
        <li></li>
        <li></li>
        <li>Cost :$ @ViewBag.Cost</li>
        <li>Tax: $ @ViewBag.Tax</li>
        <li>Total Due :$ @ViewBag.FinalTotal</li>
    </ul>

